<div class="footer-box">
    <footer>

        <div class="footer-links">
            <ul>
                <li><a href="/about">MISSION</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/">HOME</a></li>
            </ul>

        </div>
    </footer>
</div>

</body>

</html>