<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag Terra</title>

    <link rel="stylesheet" type="text/css" href="/styles/styles.css">

    <script src="https://kit.fontawesome.com/fb6ccfd8da.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300&family=Roboto:wght@100;300&family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">

    <script defer src="/scripts/scripts.js"></script>

</head>

<body>