<header>
    <a href="/" target="_self"><img src="/images/Globe Tagterra Logo.png" alt="Tag Terra blue globe logo">
        
    <div class="nav-box">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/maps">MAPS</a></li>
            </ul>


        </nav>

    </div>
</header>