<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <div class="contact-box">

        <p>If you are anything like me I have spent many years wondering what someone like you could do the make a lasting change in the world. I always felt as if though I lacked the resources necessary to help anyone on a bigger scale. As I grew older I realized just how much an individual could really change. How much the weight of paper can matter. If we were to all think of ourselves as sheets of paper, individually we wouldn't hold much weight. Now, imagine these individual sheets all coming together and working towards the same goal. We would all hold real weight, power to change not only our circumstances but the worlds. 
        </p>

    </div>

    <%- include('../partials/footer') -%>