<%- include('../partials/head') -%>

    <%- include('../partials/nav') -%>

        <div class="contact-box">

            <p><span>If you are</span>anything like me you have spent many years wondering what someone like you could
                do to make a lasting change in the world. I always felt as if though I lacked the resources necessary to
                help anyone on a bigger scale. As I grew older I realized just how much an individual could really
                change the world around them. How much the weight of paper can matter.<br> If we were to all think of
                ourselves as sheets of paper, individually we wouldn't hold much weight.<br> Now, imagine these individual
                sheets all coming together and working towards a common goal. We would all stack up and hold real
                weight! Real influential power to change not only our circumstances but the world around us.
            </p><br>
            

        </div>

        <%- include('../partials/footer') -%>