<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <div class="contact-box">
        <div class="card">
            
            <div class="card-top">
                <!-- add resume link here maybe? -->
                <div class="card-label">
                    <a href="/about"><span>Creator</span></a>
                </div>
            </div>

            <div class="card-bottom">
                <h1>Rochelle D Holmes</h1>
                <h2>Front End Developer</h2>
                <p>
                    My goal is to hold a safe space for people to feel comfortable and collaborate. While enriching the lives of diverse audiences and bringing them together in the process. I am passionate about bringing all walks of life together in the light of commonality.
                </p>
                <!--ADD YOUR PORTFOLIO SITE HERE-->
                <a href="https://github.com/RDHolmes89/rdholmesonlineresume.git">Portfolio</a>
            </div>
        </div>
        
    </div>

    <%- include('../partials/footer') -%>