<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <div class="background-land">
        <div class="landing-box">
            
            <p><span>What's the purpose?</span>There is no secret that the United States and the world has needed considerable mending of it's
                infrustructure. Especially the often over looked need for wildlife crossings. There is no perfect time
                than the present to get involved and preserve life anyway possible. Recently Congress passed the bipartisan infrastructure package given
                to all 50 states to help implement wildlife crossings nationwide. With the allotted $350 million from
                the wildlife crossing pilot program included in the package, we can finally get more serious about this
                problem. There are more than 1000 wildlife crossings in the U.S. and I believe more are needed. The most
                common crossings are bridges, overpasses, tunnels, viaducts and culverts. Tag Terra is an interactive
                way you can get involved by mapping out your own wildlife crossings!</p>
                <h4><a href="/login">Now are you ready to Tag Terra?</a></h4>
               

        </div>
    </div>
 
    <div class="landing-features">
    
        <div><img src="/images/viewmaps.png" alt="A black outlined folded map with two map markers on it" width="300" height="300"><br>View maps of peers</div>
        <div><img src="/images/sharemaps.png" alt="A black outlined angled bracket share icon with map marker left of the other two points" width="300" height="300"><br>Share your maps</div>
        <div><img src="/images/saveroute.png" alt="A black outline of two map markers a white map marker with curvy line leading to a black map marker " width="300" height="300"><br>Save your routes</div>
        

    </div>

    <div class="landing-imgs">
        <div><img src="/images/pexels-marta-wave-5875873.jpg" alt="Photo of Clouds over mountains and trees with bridge above river in town by Marta Wave "></div>

        <div><img src="/images/deerkarolina-wv-6929341.png" alt="Photo of deer and moose in nature by Karolina WV"></div>

        <div><img src="/images/pexelsanimalscrossingamelie-lachapelle.png" alt=" Photo of three animals crossing country road by Amelie Lachapelle"></div>
    
    </div>
    <br>

    <%- include('../partials/footer') -%>

    

    