<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <div class="background-land">
        <div class="landing-box">
            
            <p><span>What's the purpose?</span>There is no secret that the United States and the world has needed considerable mending of it's
                infrustructure. Especially the often over looked need for wildlife crossings. There is no perfect time
                than the present to get involved and preserve life anyway possible. Recently Congress passed the bipartisan infrastructure package given
                to all 50 states to help implement wildlife crossings nationwide. With the allotted $350 million from
                the wildlife crossing pilot program included in the package, we can finally get more serious about this
                problem. There are more than 1000 wildlife crossings in the U.S. and I believe more are needed. The most
                common crossings are bridges, overpasses, tunnels, viaducts and culverts. Tag Terra is an interactive
                way to get involved by mapping out your own wildlife crossings!</p>
                <h4><a href="/login">Now are you ready to Tag Terra?</a></h4>
               

        </div>
    </div>
 
    <div class="landing-features">
        <!-- add an img/icon to these grid flexboxes above text get reference from ebird site-->
        <div>View maps of peers</div>
        <div>Share your maps</div>
        <div>Save your routes</div>
        

    </div>

    <%- include('../partials/footer') -%>