<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <div class="map-box">

        <p>Need some inspiration? Checkout the saved routes of your peers!</p>
        
    </div>

    <div class="saved-maps">
        <div>Saved map 1</div>
        <div>Saved map 2</div>
        <div>Saved map 3</div>
        <div>Saved map 4</div>

    </div>


    <%- include('../partials/footer') -%>