<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants Info</title>

    <link rel="stylesheet" type="text/css" href="styles/styles.css">

    <script defer src="scripts.js"></script>

</head>

<body>
    <header>
        <div class="nav-box">
            <nav>
                <ul>
                    <li><a href="./index.html">HOME</a></li>
                    <li><a href="./login.html">LOGIN</a></li>
                    <li><a href="./maps.html">MAPS</a></li>
                    <li><a href="./plants.html">RESOURCES</a></li>
                </ul>


            </nav>

        </div>
    </header>

    <h2>Plants that attract key groups of animals that need wildlife crossings</h2>

    <div class="plants-table">
<!--Need to get td in colums under each of there headings-->
        <table>
            
            <thead>
                <tr>
                    <th>Deer</th>
                    <th>Elk</th>
                    <th>Moose</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Alsike Clover</td>
                    <td>Red Clover</td>
                    <td>Alfalfa</td>
                    <td>Chicory</td>
                    <td>Clematis</td>
                    <td>Corn</td>
                </tr>
                <tr>
                    <td>Aspen</td>
                    <td>Hazelnut</td>
                    <td>Cottonwood</td>
                    <td>Dandelion</td>
                    <td>Huckleberry</td>
                    <td>Big Leaf Maple</td>

                </tr>
                <tr>
                    <td>Willow Poplar</td>
                    <td>Birch</td>
                    <td>Cottonwood</td>
                    <td>Quaking Aspin</td>
                    <td>Highbush Cranberries</td>
                    <td>Mountian Ash</td>

                </tr>

            </tbody>

        </table>
    </div>

    <div class="footer-box">
        <footer>

            <div class="footer-links">
                <ul>
                    <li><a href="./about.html">MISSION</a></li>
                    <li><a href="./contact.html">CONTACT</a></li>
                    <li><a href="./index.html">HOME</a></li>
                </ul>

            </div>
        </footer>
    </div>

</body>

</html>