<%- include('../partials/head') -%>

<%- include('../partials/nav') -%>

    <div class="landing-box">

        <div class="profile-box">

            <h1>My Profile</h1>
            <img src="/images/profileicon.png" width="300" height="300" class="profile-pic">
            <h2>User name</h2>
            <p>User bio:</p>

            <h1>Some Things to consider before you start dropping pins...</h1>
            <p><span>Take a look around</span>where ever you are and contemplate if this would be a great location for a wildlife crossing by examining your surroundings. Is this located near a very noisy area that might exceed 40dba that can cause animals to avoid the crossing? Is the area full of light polluntion?<br> Can the proper
                vegitation grow there? Now that you have considered all these things...</p>
        </div>

        <h2>Let's land some pins!</h2>

        <div id="map"></div>

        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjiEVE0Ve3rSybnPYpgc6QleL2ls2kURE&callback=initMap">
            </script>

           <a href="/maps"><button type="button">Save Map Route</button></a>
            <br>

        <div class="icons-box">
            <h3>Follow Me</h3>
            <ul>
                <li><a><i class="fab fa-facebook"></i></a></li>
                <li><a><i class="fab fa-instagram"></i></a></li>
                <li><a><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>



    </div>

    <%- include('../partials/footer') -%>