body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    color: var(--darkestbrwn);
    font-family: 'Open Sans', sans-serif;
    background-image: url(/images/botanicalbackglite.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover, contain;
}
:root {
  --forest: #074F57;
  --bluegreen: #077187;
  --lightgreen: #74A57F;
  --palegreen: #9ECE9A;
  --darkestbrwn: #111D13;
  --black: #000000;
  --white: #ffffff;
}

/*mobile and tablet sizes*/
@media screen and (min-width: 320px) and (max-width: 768px) {
    body {
         background-image: url(botanicalbackglite.png);
         background-attachment: fixed;
        background-size: cover;
        
    }
}

/*desktop*/
/*@media screen and (min-width: 1024px) {
    body {
        background-color: ;
    }*/
header {
        background-color: var(--forest);
        width: 100%;
        height: 100%; 
        padding-bottom: 0.313em; 
        padding-top: 0.313em;
        display: flex;
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
        border-bottom: solid;
        border-color: var(--darkestbrwn);
        /*justify-content:flex-end;*/
}
header img {
    width: 26rem;
    height: auto;
   
    
}
header ul {
        /* border: red solid 2px; */
        display:inline-flex;
}

.nav-box li {
        list-style-type: none;
        display: inline-flex;
        padding: 3.125em;
        font-family: 'Open Sans', sans-serif;     
}
    
header li a {
        color: var(--black);
        list-style-type: none;
        text-decoration: none;
        /* border: red solid 2px; */
        
          
}
a:link,
a:visited {
    color: var(--black);
    font-size: 1.2rem;
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--white);  
    background-color: var(--bluegreen);
}
.background-box {
    
    box-sizing: border-box;
    border-style: none;
    padding: 2.813em;
}

.display-container {
    box-sizing: border-box;
    border-color: var(--darkestbrwn);
    border-style: solid;
    padding: 3.125em;
    margin: 3.125em;
    border-radius: 3em;
    /*background-color: #A1CCA5;*/
   
}

.display-container h2 {
    text-align: center;
    color: var(--black);
    
}


.inside-container {
    text-align: center;
    box-sizing: border-box;
    /*border-color:#415D43;
    border-style: solid;*/
    padding: 3.125em;
    margin: 3.125em;  
}

.display-container button {
    background-color: var(--lightgreen);
    border-color: var(--darkestbrwn);
    border-radius: 5em;
    padding: 1.5em;
    
}
/*.display-container a {
    justify-content: center;
    border: red; solid:
for your create account link center it maybe?
}*/

.background-land {
    box-sizing: border-box;
    /*background: var(--bluegreen);*/
    border-style: none;
    padding: 2.813em;  
}

.landing-box {
    box-sizing: border-box;
    text-align: center;
    padding: 3.125em;
    margin: 3.125em; 
}
.landing-box span {
   font-weight: bolder;
   font-size: 1.98998em;
}
.landing-features {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 2em;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;  
}
.landing-features div {
    background-color: #077187;
    padding: 6em;
    text-align: center;
}

.icons-box, h3 {
    align-items: center;
}
.icons-box, ul {
    list-style-type: none;
    display:inline-flex;


}
.profile-box {
    box-sizing: border-box;
    /* border: solid; */
    padding: 2em;
    
}
.profile-box span {
    color:var(--darkestbrwn);
}

.contact-box {
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    padding: 3.125em;
    margin: 3.125em; 
}
.card {
    margin: 10vh auto;
    width: 30%;
    max-width: 30%;
    border-radius: 0 40px;
    
}

.card-top {
    width: 100%;
    height: 45vh;
    background-image: url("/images/rdprofileimg.png");
    background-position: center center;
    background-size: cover;
    border-bottom: var(--forest) 5px solid;
    border-radius: 0 40px 0 0;
    
}

.card-label {
    background-color: var(--forest);
    width: fit-content;
    color: var(--white);
    padding: 1% 3%;
}
.card-label, span, a {
    color: var(--white);
    /* padding: 1% 1%; */
    margin: 1% 1%;
}
.card-bottom {
    width: 100%;
    height: auto;
    background-color: var(--white);
    padding: 3% 7% 10% 7%;
    border-radius: 0 0 0 40px;
}

/* .plants-table {
    box-sizing: border-box;
    border-style: dashed;
    width: 100%;
    height: auto;
    padding: 2em;
    display: inline-flexbox;
} */

/* .plants-table table {
    border-collapse: collapse;
    text-align: center;
   

}
.plants-table th {
    text-align: center;
    background-color: var(--forest);
    border: var(--darkestbrwn) solid 1px;
    padding: 0.2em;
    flex-direction: row;
} */
/*.plants-table td {
    \display: flex;
    flex-direction: row;
  
}*/

/*map-box is now called by the id=map*/
/* .map-box {
    box-sizing: border-box;
    border-style: dashed;
    height: auto;
    width: 100%;
    padding: 2em;
   display: inline-flexbox;
}
.map-box, p {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
} */
#map{
    height: 600px;
    width: 100%;
}

.saved-maps {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 2em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;  
}
.saved-maps div {
    background-color: #077187;
    padding: 6em;
}


.footer-box {
    background-color: var(--forest);
    box-sizing: border-box;
    border-top: solid;
    border-color: var(--darkestbrwn);
    width: 100%; 
    height: 100%;
    color: var(--black);
    padding-bottom: 0.313em; 
    padding-top: 0.313em;
    
    /*display: flex;
    /*border: 2px solid red;*/
    font-family: 'Open Sans', sans-serif;
    
}

footer {
    display: flex;
    justify-content:center;  
    
      /*border: 2px solid rgb(179, 255, 0);*/
      
}
footer li, a {
    color: var(--black);
    list-style-type: none;
    text-decoration: none;
    display: inline-flex;
    padding: 1em;
}
