body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    color: var(--darkestbrwn);
    font-family: 'Open Sans', sans-serif;
    background-image: url(/images/botanicalbackglite.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover, contain;
}
:root {
  --forest: #074F57;
  --bluegreen: #077187;
  --lightgreen: #74A57F;
  --palegreen: #9ECE9A;
  --darkestbrwn: #111D13;
  --black: #000000;
  --white: #ffffff;
}

/*mobile and tablet sizes*/
@media screen and (min-width: 320px) and (max-width: 728px) {
    body {
         background-image: url(/images/botanicalbackglite.png);
         background-attachment: fixed;
         background-repeat: no-repeat;
         background-size: cover, contain;
         max-width: 100%;
        
    }
}

/*desktop*/
/*@media screen and (min-width: 1024px) {
    body {
        background-color: ;
    }*/
header {
        background-color: var(--forest);
        width: 100%;
        height: 100%; 
        padding-bottom: 0.313em; 
        padding-top: 0.313em;
        display: flex;
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
        border-bottom: solid;
        border-color: var(--darkestbrwn);
        /*justify-content:flex-end;*/
}
header img {
    width: 26rem;
    height: auto;
   
    
}
header ul {
        /* border: red solid 2px; */
        display:inline-flex;
        font-weight: bold;
}

.nav-box li {
        list-style-type: none;
        display: inline-flex;
        padding: 3.125em;
        font-family: 'Open Sans', sans-serif;   
        font-weight: bold;  
}
    
header li a {
        color: var(--black);
        list-style-type: none;
        text-decoration: none;
        /* border: red solid 2px; */
        
          
}
a:link,
a:visited {
    color: var(--black);
    font-size: 1.2rem;
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--white);  
    background-color: var(--bluegreen);
}
.background-box {
    
    box-sizing: border-box;
    border-style: none;
    padding: 2.813em;
}

.display-container {
    box-sizing: border-box;
    border-color: var(--darkestbrwn);
    border-style: solid;
    padding: 3.125em;
    margin: 3.125em;
    border-radius: 3em;
    /*background-color: #A1CCA5;*/
   
}

.display-container h2 {
    text-align: center;
    color: var(--black);
    
}


.inside-container {
    text-align: center;
    box-sizing: border-box;
    /*border-color:#415D43;
    border-style: solid;*/
    padding: 3.125em;
    margin: 3.125em;  
}

.display-container button {
    background-color: var(--bluegreen);
    font-weight: bold;
    font-size: medium;
    border-color: var(--darkestbrwn);
    border-radius: 2em;
    padding: 1.5em;
    
}


.background-land {
    box-sizing: border-box;
    border-style: none;
    padding: 2.813em;  
}

.landing-box {  
  backdrop-filter: saturate(180%) blur(10px);
    box-sizing: border-box;
    text-align: center;
    padding: 3.125em;
    margin: 3.125em; 
}
.landing-box p {
    font-size: larger;
    font-weight: bolder;
}
.landing-box span {
   font-weight: bolder;
   font-size: 3em;
   color: var(--forest);
}
.landing-box a {
    font-size: xx-large;
    font-weight: bolder;
}

.landing-box button {
    background-color: var(--bluegreen);
    color:var(--black);
    font-size: large;
    font-weight: bold;
    border-color: var(--darkestbrwn);
    border-radius: 2em;
    padding: 1.5em;
}
.landing-features {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 2em;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.625em;  
}
.landing-features div {
    background-color: var(--bluegreen);
    padding: 6em;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    
}
.landing-imgs {
   display:flex;
   flex-wrap: wrap;
   justify-content: space-around;
   
}
.landing-imgs div {
    /* background-color: var(--bluegreen); */
    flex: 25%;
    max-width: 25%;
    padding: 0 0.25em;
    flex-direction: row;
    
}
.landing-imgs img {
    margin-top: 0.5em;
    vertical-align: middle;
    width: 30em;
    height: 100%;
    
}

.icons-box, h3 {
    align-items: center;
}
.icons-box, ul {
    list-style-type: none;
    display:inline-flex;


}
.profile-box {
    box-sizing: border-box;
    /* border: solid; */
    padding: 2em;
    
}
.profile-box span {
    color:var(--forest);
}
.profile-box p {
    font-size: larger;
}
.profile-btn {
    font-weight: bold;
    font-size: medium;
    border-color: var(--darkestbrwn);
    border-radius: 2em;
    padding: 1em;
}
.about-box {
    backdrop-filter: saturate(180%) blur(10px);
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    padding: 3.125em;
    margin: 3.125em; 
}
.about-box p {
    font-size: larger;
    font-weight: bolder;
}
.about-box span {
    font-weight: bolder;
   font-size: 3em;
   color: var(--forest);
}
.about-mission img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60em;
    height: auto; 
    filter:contrast(130%);
}


.contact-box {
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    padding: 3.125em;
    margin: 3.125em; 
}
.contact-box p {
    font-size: larger;
}
.contact-box span {
    font-weight: bolder;
   font-size: 3em;
   color: var(--forest);
}
.card {
    margin: 10vh auto;
    width: 30%;
    max-width: 30%;
    border-radius: 0 2.5em;
    
}

.card-top {
    width: 100%;
    height: 45vh;
    background-image: url("/images/rdprofileimg.png");
    background-position: center center;
    background-size: cover;
    border-bottom: var(--forest) 0.3125em solid;
    border-radius: 0 2.5em 0 0;
    
}

.card-label {
    
    backdrop-filter: saturate(180%) blur(10px);
    width:min-content;
    color: var(--white);
    
}

.card-label span, a {
    color: var(--white);
    
}


.card-bottom {
    width: fit-content;
    height: auto;
    background-color: var(--white);
    padding: 3% 7% 10% 7%;
    border-radius: 0 0 0 2.5em;
}

/* TO BE IMPLEMENTED ONE DAY
.plants-table {
    box-sizing: border-box;
    border-style: dashed;
    width: 100%;
    height: auto;
    padding: 2em;
    display: inline-flexbox;
} */

/* .plants-table table {
    border-collapse: collapse;
    text-align: center;
   

}
.plants-table th {
    text-align: center;
    background-color: var(--forest);
    border: var(--darkestbrwn) solid 1px;
    padding: 0.2em;
    flex-direction: row;
} */
/*.plants-table td {
    \display: flex;
    flex-direction: row;
  
}*/

.map-box {
    backdrop-filter: saturate(180%) blur(10px);
    box-sizing: border-box;
    /* text-align: center; */
    padding: 3.125em;
    margin: 3.125em; 
}
.map-box, p {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
} 
#map{
    height: 37.5em;
    width: 100%;
}

.saved-maps {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 2em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;  
}
.saved-maps div {
    background-color: var(--bluegreen);
    padding: 5em;
}


.footer-box {
    background-color: var(--forest);
    box-sizing: border-box;
    border-top: solid;
    border-color: var(--darkestbrwn);
    width: 100%; 
    height: 100%;
    color: var(--black);
    padding-bottom: 0.313em; 
    padding-top: 0.313em;
    
    /*display: flex;
    /*border: 2px solid red;*/
    font-family: 'Open Sans', sans-serif;
    
}

footer {
    display: flex;
    justify-content:center;  
    
      /*border: 2px solid rgb(179, 255, 0);*/
      
}
footer li, a {
    color: var(--black);
    list-style-type: none;
    text-decoration: none;
    display: inline-flex;
    padding: 1em;
    font-weight: bold;
}

