body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
/*root colors
#074F57
*/
/*@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        background-color: ;
        
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: ;
    }
}
/*desktop*/
/*@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: ;
    }*/

.background-box {
    /*make gradient shine*/
    box-sizing: border-box;
    background: linear-gradient(-45deg, #074F57, #077187, #74A57F);
    border-style: none;
    padding: 2.813em;
}

.display-container {
    box-sizing: border-box;
    border-color: #111D13;
    border-style: solid;
    padding: 3.125em;
    margin: 3.125em;
    border-radius: 3em;
    /*background-color: #A1CCA5;*/
   
}

.display-container h2 {
    text-align: center;
    color: #000000;
    
}


.inside-container {
    text-align: center;
    box-sizing: border-box;
    /*border-color:#415D43;
    border-style: solid;*/
    padding: 3.125em;
    margin: 3.125em;  
}

.display-container button {
    background-color: #9ECE9A;
    border-radius: 5em;
    
}
    